---
---
<!-- get modelType -->
{% include fragment-modelType.html id='{{[id]}}' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 6" class="col-12">

  {% include fragment-profile-navtabs.html type='{{[type]}}' id='{{[id]}}' active='testing' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: {{[title]}} - Testing</h2>
{% include fragment-simpletable.html %}

{% assign basepath = page.path | replace: '-testing.html', '.html' %}

<!-- insert intro if present -->
{% include fragment-intro.html type='{{[type]}}' id='{{[id]}}' %}

<h3>Test Plans</h3>
{% if site.data.pages[basepath].testplans.size > 0 %}
  <table style="grid">
    <tbody>
      {% for testplan in site.data.pages[basepath].testplans %}
        <tr>
          <td>
            <a href="{{testplan.url}}">{{testplan.title | escape_once}}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p><b>No test plans are currently available for the {{id}} Profile.</b></p>
{% endif %}

<h3>Test Scripts</h3>
{% if site.data.pages[basepath].testscripts.size > 0 %}
  <table style="grid">
    <tbody>
      {% for testscript in site.data.pages[basepath].testscripts %}
        <tr>
          <td>
            <a href="{{testscript.url}}">{{testscript.title | escape_once}}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p><b>No test scripts are currently available for the {{id}} Profile.</b></p>
{% endif %}

<!-- insert notes if present -->
{% include fragment-notes.html type='{{[type]}}' id='{{[id]}}' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
