---
---
<!-- get modelType -->
{% include fragment-modelType.html id='{{[id]}}' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 6" class="col-12">

  {% include fragment-profile-navtabs.html type='{{[type]}}' id='{{[id]}}' active='example' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: {{[title]}} - Examples</h2>
{% include fragment-simpletable.html %}

   <!-- insert intro if present -->
    {% include fragment-intro.html type='{{[type]}}' id='{{[id]}}' %}

{% assign basepath = page.path | replace: '-examples.html', '.html' %}
{% if site.data.pages[basepath].examples.size > 0 %}
  <p>Examples for the {{[id]}} Profile.</p>
  <table style="grid">
    <tbody>
      {% for example in site.data.pages[basepath].examples %}
        <tr>
          <td>
            <a href="{{example.url}}">{{example.title | escape_once}}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p><b>No examples are currently available for the {{id}} Profile.</b></p>
{% endif %}

<!-- insert notes if present -->
{% include fragment-notes.html type='{{[type]}}' id='{{[id]}}' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
