---
---
<!-- get modelType -->
{% include fragment-modelType.html id='{{[id]}}' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">

  {% include fragment-profile-navtabs.html type='{{[type]}}' id='{{[id]}}' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: {{[title]}} - Change History</h2>
{% include fragment-simpletable.html %}
  <p>Changes in the {{[id]}} {{modelType | downcase}}.</p>

  {%include {{[type]}}-{{[id]}}-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
