---
---
<!-- get modelType -->
{% include fragment-modelType.html id='{{[id]}}' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 4" class="col-12">

  {% include fragment-profile-navtabs.html type='{{[type]}}' id='{{[id]}}' active='definition' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: {{[title]}} - Detailed Descriptions</h2>
{% include fragment-simpletable.html %}

<p>Definitions for the {{[id]}} {{modelType | downcase}}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='{{[type]}}' id='{{[id]}}' %}

  <div id="tabs">
    <ul>
      <li>
        <a href="#tabs-diff">Differential Elements Table</a>
      </li>
      <li>
        <a href="#tabs-key">Key Elements Table</a>
      </li>
      <li>
        <a href="#tabs-snap">Snapshot Elements Table</a>
      </li>
    </ul>
    <a name="tabs-diff"> </a>
    <div id="tabs-diff">
      {%include StructureDefinition-{{[id]}}-dict-diff.xhtml%}
    </div>
    <a name="tabs-key"> </a>
    <div id="tabs-key">
      {%include StructureDefinition-{{[id]}}-dict-key.xhtml%}
    </div>
    <a name="tabs-snap"> </a>
    <div id="tabs-snap">
      {%include StructureDefinition-{{[id]}}-dict.xhtml%}
    </div>
  </div>

  <!-- insert notes if present -->
  {% include fragment-notes.html type='{{[type]}}' id='{{[id]}}' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
