---
---
<!-- get modelType -->
{% include fragment-modelType.html id='{{[id]}}' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 5" class="col-12">

  {% include fragment-profile-navtabs.html type='{{[type]}}' id='{{[id]}}' active='mapping' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: {{[title]}} - Mappings</h2>
{% include fragment-simpletable.html %}

<p>Mappings for the {{[id]}} {{modelType | downcase }}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='{{[type]}}' id='{{[id]}}' %}

  {%include StructureDefinition-{{[id]}}-maps.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='{{[type]}}' id='{{[id]}}' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
