---
---
<!-- get modelType -->
{% include fragment-modelType.html id='{{[id]}}' %}

{% assign format = page.path | split: '.html'| first | split: '.' | last %}

{% if format == 'xml' %}
{% assign section = '7' %}
{% elsif format == 'json' %}
{% assign section = '8' %}
{% else %}
{% assign section = '9' %}
{% endif %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section {{section}}" class="col-12">

  {% include fragment-profile-navtabs.html type='{{[type]}}' id='{{[id]}}' active=format %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: {{[title]}} - {{format | upcase}} Profile</h2>
{% include fragment-simpletable.html %}

<p>{{format | upcase}} representation of the {{[id]}} {{modelType | downcase }}.</p>

<p><a href="{{[type]}}-{{[id]}}.{{format}}" no-download="true">Raw {{format}}</a> | <a href="{{[type]}}-{{[id]}}.{{format}}" download>Download</a></p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='{{[type]}}' id='{{[id]}}' %}

  {%include StructureDefinition-{{[id]}}-{{format}}-html.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='{{[type]}}' id='{{[id]}}' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
