---
---
<!-- get modelType -->
{% include fragment-modelType.html id='{{[id]}}' %}

{% include fragment-pagebegin.html %}
<div class="col-12">

  {% include fragment-profile-navtabs.html type='{{[type]}}' id='{{[id]}}' active='content' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}:
{% if site.data.structuredefinitions["{{[id]}}"].abstract == true %}
    <i>{{site.data.pages[page.path].title | escape_once}}</i>
{% else %}
    {{site.data.pages[page.path].title}}
{% endif %}
{% if site.data.resources[resource_].experimental == true or site.data.structuredefinitions["{{[id]}}"].abstract == true %}({% endif %}
{% if site.data.structuredefinitions["{{[id]}}"].abstract == true %}Abstract{% endif %}
{% if site.data.resources[resource_].experimental == true %}Experimental{% endif %}
{% if site.data.resources[resource_].experimental == true or site.data.structuredefinitions["{{[id]}}"].abstract == true %}){% endif %}
  </h2>

{% include fragment-resourceTable.html %}
{%if site.data.resources[resource_].description %}
<p>
{{site.data.resources[resource_].description|markdownify}}
</p>
{% endif %}{%if site.data.resources[resource_].purpose %}
<p>
{{site.data.resources[resource_].purpose|markdownify}}
</p>
{% endif %}


<!-- insert intro if present -->
{% include fragment-intro.html type='{{[type]}}' id='{{[id]}}' %}

{%include StructureDefinition-{{[id]}}-sd-xref.xhtml%}

  <!-- no uri -->
  <a name="profile"> </a>
  <h3 id="profile">Formal Views of Profile Content</h3>
  <p>
    <a href="http://build.fhir.org/ig/FHIR/ig-guidance/readingIgs.html#structure-definitions">Description of Profiles, Differentials, Snapshots and how the different presentations work</a>.
  </p>
  <div id="tabs">
    <ul>
      <li>
        <a href="#tabs-diff">Differential Table</a>
      </li>
      <li>
        <a href="#tabs-key">Key Elements Table</a>
      </li>
      <li>
        <a href="#tabs-snap">Snapshot Table</a>
      </li>
{% unless excludexml == 'y' %}
<!--      <li>
        <a href="#tabs-xml">Pseudo-XML</a>
      </li>-->
{% endunless %}
{% unless excludejson == 'y' %}
<!--      <li>
        <a href="#tabs-json">Pseudo-JSON</a>
      </li>-->
{% endunless %}
{% unless excludettl == 'y' %}
      <!--<li>
        <a href="#tabs-ttl">Pseudo-TTL</a>
      </li>-->
{% endunless %}
      <li>
        <a href="#tabs-summ">Statistics/References</a>
      </li>
      <li>
        <a href="#tabs-all">All</a>
      </li>
    </ul>
    <a name="tabs-diff"> </a>
    <div id="tabs-diff">
      <div id="tbl-diff">
        <p>This structure is derived from <a href="{{site.data.structuredefinitions['{{[id]}}'].basepath}}">{{site.data.structuredefinitions['{{[id]}}'].basename}}</a>
        </p>
        <div id="tbl-diff-inner">
          {%include StructureDefinition-{{[id]}}-diff.xhtml%}
          <a name="tx"> </a>
          <!--Terminology Bindings heading in the fragment -->
          {%include StructureDefinition-{{[id]}}-tx-diff.xhtml%}

          {% capture invariantsdiff %}
            {% include StructureDefinition-{{[id]}}-inv-diff.xhtml %}
          {% endcapture %}
          <!-- 218 is size of empty table -->
          {% unless invariantsdiff.size <= 218 %}
            <a name="inv"> </a>
            <!--Constraints  heading in the fragment -->
            {% include StructureDefinition-{{[id]}}-inv-diff.xhtml %}
          {% endunless%}
        </div>
      </div>
    </div>
    <a name="tabs-key"> </a>
    <div id="tabs-key">
      <div id="tbl-key">
        <div id="tbl-key-inner">
          {%include StructureDefinition-{{[id]}}-snapshot-by-key.xhtml%}
          <!--Terminology Bindings heading in the fragment -->
          {%include StructureDefinition-{{[id]}}-tx-key.xhtml%}

          {% capture invariantskey %}
            {% include StructureDefinition-{{[id]}}-inv-key.xhtml %}
          {% endcapture %}
          <!-- 218 is size of empty table -->
          {% unless invariantskey.size <= 218 %}
            <a name="inv"> </a>
            <!--Constraints  heading in the fragment -->
            {% include StructureDefinition-{{[id]}}-inv-key.xhtml %}
          {% endunless%}
        </div>
      </div>
    </div>
    <a name="tabs-snap"> </a>
    <div id="tabs-snap">
      <div id="tbl-snap">
        <div id="tbl-snap-inner">
          {%include StructureDefinition-{{[id]}}-snapshot.xhtml%}
          <!--Terminology Bindings heading in the fragment -->
          {%include StructureDefinition-{{[id]}}-tx.xhtml%}

          {% capture invariants %}
            {% include StructureDefinition-{{[id]}}-inv.xhtml %}
          {% endcapture %}
          <!-- 218 is size of empty table -->
          {% unless invariants.size <= 218 %}
            <a name="inv"> </a>
            <!--Constraints  heading in the fragment -->
            {% include StructureDefinition-{{[id]}}-inv.xhtml %}
          {% endunless%}
        </div>
      </div>
    </div>
{% unless excludexml == 'y' %}
<!--    <a name="tabs-xml"> </a>
    <div id="tabs-xml">
      <div id="xml">
        <div id="xml-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-xml.xhtml%}
        </div>
      </div>
    </div>-->
{% endunless %}
{% unless excludejson == 'y' %}
<!--    <a name="tabs-json"> </a>
    <div id="tabs-json">
      <div id="json">
        <div id="json-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-json.xhtml%}
        </div>
      </div>
    </div>-->
{% endunless %}
{% unless excludettl == 'y' %}
    <!--<a name="tabs-ttl"> </a>
    <div id="tabs-ttl">
      <div id="ttl">
        <div id="ttl-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-ttl.xhtml%}
        </div>
      </div>
    </div>-->
{% endunless %}
    <a name="tabs-summ"> </a>
    <div id="tabs-summ">
      <div id="tbl-summ">
        <p>This structure is derived from <a href="{{site.data.structuredefinitions['{{[id]}}'].basepath}}">{{site.data.structuredefinitions['{{[id]}}'].basename}}</a>
        </p>
        <div id="tbl-summ-inner">
          <a name="summary"> </a>
          {%include StructureDefinition-{{[id]}}-summary.xhtml%}
        </div>
      </div>
    </div>
    <a name="tabs-all"> </a>
    <div id="tabs-all">
      <div id="all-tbl-diff">
        <p>
          <b>Differential View</b>
        </p>
        <p>This structure is derived from <a href="{{site.data.structuredefinitions['{{[id]}}'].basepath}}">{{site.data.structuredefinitions['{{[id]}}'].basename}}</a>
        </p>
        <div id="all-tbl-diff-inner">
          {%include StructureDefinition-{{[id]}}-diff.xhtml%}
          <!--Terminology Bindings heading in the fragment -->
          {%include StructureDefinition-{{[id]}}-tx-diff.xhtml%}

          {% capture invariantsdiff %}
            {% include StructureDefinition-{{[id]}}-inv-diff.xhtml %}
          {% endcapture %}
          <!-- 218 is size of empty table -->
          {% unless invariantsdiff.size <= 218 %}
            <a name="inv"> </a>
            <!--Constraints  heading in the fragment -->
            {% include StructureDefinition-{{[id]}}-inv-diff.xhtml %}
          {% endunless%}
        </div>
      </div>
      <div id="all-tbl-key">
        <p>
          <b>Key Elements View</b>
        </p>
        <div id="all-tbl-key-inner">
          {%include StructureDefinition-{{[id]}}-snapshot-by-key.xhtml%}
          <!--Terminology Bindings heading in the fragment -->
          {%include StructureDefinition-{{[id]}}-tx-key.xhtml%}

          {% capture invariantskey %}
            {% include StructureDefinition-{{[id]}}-inv-key.xhtml %}
          {% endcapture %}
          <!-- 218 is size of empty table -->
          {% unless invariantskey.size <= 218 %}
            <a name="inv"> </a>
            <!--Constraints  heading in the fragment -->
            {% include StructureDefinition-{{[id]}}-inv-key.xhtml %}
          {% endunless%}
        </div>
      </div>
      <div id="all-tbl-snap">
        <p>
          <b>Snapshot View</b>
        </p>
        <div id="all-tbl-snap-inner">
          {%include StructureDefinition-{{[id]}}-snapshot.xhtml%}
          <!--Terminology Bindings heading in the fragment -->
          {%include StructureDefinition-{{[id]}}-tx.xhtml%}

          {% capture invariants %}
            {% include StructureDefinition-{{[id]}}-inv.xhtml %}
          {% endcapture %}
          <!-- 218 is size of empty table -->
          {% unless invariants.size <= 218 %}
            <a name="inv"> </a>
            <!--Constraints  heading in the fragment -->
            {% include StructureDefinition-{{[id]}}-inv.xhtml %}
          {% endunless%}
        </div>
      </div>
{% unless excludexml == 'y' %}
      <!--<div id="all-xml">
        <p>
          <b>XML Template</b>
        </p>
        <div id="all-xml-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-xml.xhtml%}
        </div>
      </div>-->
{% endunless %}
{% unless excludejson == 'y' %}
      <!--<div id="all-json">
        <p>
          <b>JSON Template</b>
        </p>
        <div id="all-json-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-json.xhtml%}
        </div>
      </div>-->
{% endunless %}
{% unless excludettl == 'y' %}
      <!--<div id="all-ttl">
        <p>
          <b>TTL Template</b>
        </p>
        <div id="all-ttl-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-ttl.xhtml%}
        </div>
      </div>-->
{% endunless %}
      <div id="all-summ">
        <p>This structure is derived from <a href="{{site.data.structuredefinitions['{{[id]}}'].basepath}}">{{site.data.structuredefinitions['{{[id]}}'].basename}}</a>
        </p>
        <div id="all-summ-inner">
          {%include StructureDefinition-{{[id]}}-summary.xhtml%}
        </div>
      </div>
    </div>
  </div>
  <p>&#160;</p>
  <p>Other representations of profile: <a href="{{[type]}}-{{[id]}}.csv">CSV</a>, <a href="{{[type]}}-{{[id]}}.xlsx">Excel</a>{% unless modelType == 'Logical Model' %}, <a href="{{[type]}}-{{[id]}}.sch">Schematron</a>
{% endunless %}
  </p>

  {% if site.data.resources[resource_].contained != nil %}
  <h4>Contained resources</h4>
  {% include {{[type]}}-{{[id]}}-contained-index.xhtml %}
  {% endif %}

<!-- insert notes if present -->
{% include fragment-notes.html type='{{[type]}}' id='{{[id]}}' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
